<%= form_for(@summit) do |f| %>
  
  <div class="area back-link" style='<%= !@summit.errors.any? ? "display:none;" : "" %>' >
    <% if @summit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@summit.errors.count, "error") %> prohibited this summit from being saved:</h2>

      <ul>
      <% @summit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  </div>
  <div class="area" style="display:none;"></div>
  
  <div class="area input-hidden">
    <div class="row">
      <h1 class="text-center"><%= f.text_field :name, :placeholder => "Enter Summit Title here" %></h1>
      <h3 class="text-center"><%= f.text_field :contact_website, :placeholder => "Link to Website (optional)" %></h3>
      <h3 class="text-center"><%= f.text_field :contact_email, :placeholder => "Contact E-Mail Address (optional)" %></h3>
    </div>
            <br/>
    <div class="row">
      <div class="col-md-5">
        <h3 class="text-center">
          <div class="form-group" style="display:inline;">
            <%= f.text_field :date_start, :placeholder => "Start Date", :class => "datetimepicker", :data => {:'date-format' => 'YYYY/MM/DD'} %>
          </div>
          to
          <div class="form-group" style="display:inline;">
          <%= f.text_field :date_end, :placeholder => "End Date", :class => "datetimepicker", :data => {:'date-format' => 'YYYY/MM/DD'} %> 
          </div>
        </h3>        
      </div>
      <div class="col-md-2">
        <h3 class="text-center">
          <small>in</small>
        </h3>
      </div>
      <div class="col-md-5 split-3">
        <h3 class="text-center">
          <div class="form-group" style="display: inline;">
            <%= f.text_field :location_city, :placeholder => "City" %>
          </div>,
          <div class="form-group" style="display: inline;">
            <%= f.select :location_state, options_for_select(us_states), {}, {:class => "form-control"} %>
          </div>, USA
        </h3>
      </div>

    </div>
  </div>
  
  <%# free icons from https://www.iconfinder.com/icons/206467/analytics_keynote_note_notes_icon#size=128
%>
  
  <div class="area">
    <!--<div class="row">
      <h1 class="text-center"><i class="fa fa-heart"></i> Quick Facts</h1>
    </div>
    <br/><br/><br/>-->
    
    <div class="row">
      <div class="col-md-4 facts">
        <div class="well">
          <h3>Quick Facts</h3>
          
          <hr/>
          
          <table>
            <!-- MONEY FACTS -->
            <tr>
              <td><%= image_tag("money.png") %></td>
              <td>
                <b><u>Cost</u></b> (in $)
                <!--<div class="form-group">
                  <%= f.label :currency, :class => "normal" %><br>
                  <%= f.text_field :currency, :class => "form-control"  %>
                </div>-->
                <div class="form-group">
                  <%= f.number_field :cost, :placeholder => "Cost of Attendance", :class => "form-control"  %>
                </div>
              </td>
            </tr>
            <tr><td colspan="2"><hr/></td></tr>
            <!-- APPLICATION FACTS -->
            <tr>
              <td><%= image_tag("application.png") %></td>
              <td>
                <b><u>Application</u></b><br>
                <% 
                  if @summit.deadline
                    deadline = ActiveSupport::JSON.decode(@summit.deadline)
                    deadline["content"].each_with_index do |d, index| %>
                      <% if index != 0 %>
                        <hr/>
                      <% end %>
                      <div class="form-group application-deadline">
                        <p>Deadline</p>
                        <%= text_field_tag 'deadline[labels][]', d["text"], placeholder: "Label (5 characters)", class: "form-control" %>
                        <%= text_field_tag 'deadline[dates][]', d["date"], placeholder: "Deadline", class: "datetimepicker form-control", :data => {:'date-format' => 'YYYY/MM/DD'}
  %>
                      </div>
                  <% end %>
                <% else %>
                  <div class="form-group application-deadline">
                    <p>Deadline</p>
                    <%= text_field_tag 'deadline[labels][]', "", placeholder: "Label (5 characters)", class: "form-control"  %>
                    <%= text_field_tag 'deadline[dates][]', "", placeholder: "Deadline", class: "datetimepicker form-control", :data => {:'date-format' => 'YYYY/MM/DD'}
%>
                  </div>
                <% end %>
                
                <a id="addDeadline">Add additional deadline...</a>
                
                <!--<hr/>-->
                
                <div class="form-group">
                  <%= f.label :application_link, "Web Link to Application", :class => "normal" %><br/>
                  <%= f.text_field :application_link, :class => "form-control", :placeholder => "Provide the link to your application site" %>
                </div>
              </td>
            </tr>
            <tr><td colspan="2"><hr/></td></tr>
            <!-- FIELDS FACTS -->
            <tr>
              <td><%= image_tag("fields.png") %></td>
              <td>
                <div class="form-group">
                  <%= f.label :fields %><br/>
                  <%= f.text_field :fields, :class => "form-control", :placeholder => "E.g. All, Tech, Medicine, ..." %>
                </div>
              </td>
            </tr>
            <tr><td colspan="2"><hr/></td></tr>
            <!-- STAGES FACTS -->
            <tr>
              <td><%= image_tag("stages.png") %></td>
              <td>
                <b><u>Project Stages</u></b><br>
                  <p>Check the project stages that your summit is focusing on.</p>
                  <div class="form-group">
                    <div class="checkbox">
                      <label class="normal">
                        <%= f.check_box :idea_stage %> <i class="btn-xs fa fa-lightbulb-o" title="Idea Stage"></i> Idea Stage
                      </label>
                    </div>
                  </div>
                
                  <div class="form-group">
                    <div class="checkbox">
                      <label class="normal">
                        <%= f.check_box :planning_stage %> <i class="btn-xs fa fa-file-text-o" title="Planning Stage"></i> Planning Stage
                      </label>
                    </div>
                  </div>
                
                  <div class="form-group">
                    <div class="checkbox">
                      <label class="normal">
                        <%= f.check_box :implementation_stage %> <i class="btn-xs fa fa-suitcase" title="Implementation Stage"></i> Implementation Stage
                      </label>
                    </div>
                  </div>
                
                  <div class="form-group">
                    <div class="checkbox">
                      <label class="normal">
                        <%= f.check_box :operating_stage %> <i class="btn-xs fa fa-truck" title="Launched & Running"></i> Running &amp; Launched
                      </label>
                    </div>
                  </div>
              </td>
            </tr>
            <tr><td colspan="2"><hr/></td></tr>
            <!-- LANGUAGE FACTS -->
            <tr>
              <td><%= image_tag("language.png") %></td>
              <td>
                <div class="form-group">
                  <%= f.label :language %><br>
                  <%= f.text_field :language, :value => "English", :placeholder => "Language Spoken at Summit", :class => "form-control", :readonly => "readonly"  %>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-md-8">
        <div class="well">
          <h3>Details</h3>
          
          <hr/>
          
          <div class="form-group">
            <%= f.label :description %><br>
            <%= f.text_area :description, :rows => 10, :placeholder => "Describe the conference (mission, content, schedule, speakers, ...)", :class => "form-control"  %>
          </div>
        </div>
      </div>
    </div>

  </div>
  
  
  
  <%= f.submit submit_text, :class => "area back-link" do %>
    </div>
  <% end %>
  
<% end %>