<% if flash[:error].present? %>
  <div class="area" style="display:none"></div>
  <div class="area">
    <h1 class="text-center">
        <%= flash[:error] %>
    </h1>
  </div>
<% end %>

<div class="area">
  <h1 class="text-center">Choose an option:</h1>

  <div class="row">
    <div class="col-md-6">
        <div class="well">
          <%= form_tag(new_private_summit_path, method: "post") do %>
            <h2>Create Private Summit</h2>
            <div class="form-group">
              <%= label_tag :email, "Your e-mail address" %>
              <%= text_field_tag :email, "", :class => "form-control" %>
            </div>
            <%= submit_tag "Create", :class => "btn btn-lg btn-default" %>
          <% end %>
        </div>
    </div>
    <div class="col-md-6">
      <%= link_to new_public_summit_path do %>
        <div class="well">
          <h2>Create Public Summit</h2>
        </div>
      <% end %>
    </div>
  </div>
</div>