<div id="show">
  <div class="area">
    <div class="row">
      <h1 class="text-center"><%= @summit.name %></h1>
      <% if !@summit.contact_website.blank? %>
      <h3 class="text-center"><i class="fa fa-globe"></i> <%= link_to @summit.contact_website, @summit.contact_website, :target => "_blank" %></h3>
      <% end %>
      <% if !@summit.contact_email.blank? %>
      <h3 class="text-center"><i class="fa fa-envelope"></i> <%= mail_to @summit.contact_email, @summit.contact_email, :target => "_blank" %></h3>
      <% end %>
      <h3 class="text-center"><br/><%= @summit.date_start.strftime("%b %d, %Y") + " - " + @summit.date_end.strftime("%b %d, %Y") %> <small>in</small> <%= @summit.location_city + ", " + (!@summit.location_state.blank? ? @summit.location_state + ", " : "") + @summit.location_country %></h3>
    </div>
  </div>
  
  <%# free icons from https://www.iconfinder.com/icons/206467/analytics_keynote_note_notes_icon#size=128
%>
  
  <div class="area">
    <!--<div class="row">
      <h1 class="text-center"><i class="fa fa-heart"></i> Quick Facts</h1>
    </div>
    <br/><br/><br/>-->
    
    <div class="row">
      <div class="col-md-4 facts">
        <div class="well">
          <h3>Quick Facts</h3>
          
          <hr/>
          
          <table>
            <!-- MONEY FACTS -->
            <tr>
              <td><%= image_tag("money.png") %></td>
              <td>
                <b><u>Cost</u></b><br>
                <%= @summit.currency + @summit.cost.to_s %>
              </td>
            </tr>
            <tr><td colspan="2"><hr/></td></tr>
            <!-- APPLICATION FACTS -->
            <tr>
              <td><%= image_tag("application.png") %></td>
              <td>
                <b><u>Application</u></b><br>
                <% deadline = ActiveSupport::JSON.decode(@summit.deadline) %>
                Deadline: <%= Time.parse(deadline["content"][0]["date"]).strftime("%b %d, %Y") %><br/>
                <% if @summit.application_link %>
                Link: <a href="<%= @summit.application_link %>" target="_blank">Apply now!</a>
                <% end %>
              </td>
            </tr>
            <tr><td colspan="2"><hr/></td></tr>
            <!-- FIELDS FACTS -->
            <tr>
              <td><%= image_tag("fields.png") %></td>
              <td>
                <b><u>Fields</u></b><br>
                <%= @summit.fields %>
              </td>
            </tr>
            <tr><td colspan="2"><hr/></td></tr>
            <!-- STAGES FACTS -->
            <tr>
              <td><%= image_tag("stages.png") %></td>
              <td>
                <b><u>Project Stages</u></b><br>
                <% if @summit.idea_stage %>
                  <i class="btn-xs fa fa-lightbulb-o" title="Idea Stage"></i> Idea Stage<br/>
                <% end %>
                <% if @summit.planning_stage %>
                  <i class="btn-xs fa fa-file-text-o" title="Planning Stage"></i> Planning Stage<br/>
                <% end %>
                <% if @summit.implementation_stage %>
                  <i class="btn-xs fa fa-suitcase" title="Implementation Stage"></i> Implementation Stage<br/>
                <% end %>
                <% if @summit.operating_stage %>
                  <i class="btn-xs fa fa-truck" title="Launched & Running"></i> Running &amp; Launched<br/>
                <% end %>
              </td>
            </tr>
            <tr><td colspan="2"><hr/></td></tr>
            <!-- LANGUAGE FACTS -->
            <tr>
              <td><%= image_tag("language.png") %></td>
              <td>
                <b><u>Language</u></b><br>
                <%= @summit.language %>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-md-8">
        <div class="well">
          <h3>Details</h3>
          
          <hr/>
          
          <b><u>Description</u></b><br/>
          <%= @summit.description %>
          
          <!--<hr/>
          
          <b><u>Requirements</u></b><br/>
          <% if @summit.requirements == nil %>
            No requirements.
          <% else %>
            <%= @summit.requirements %>
          <% end %>-->
        </div>
      </div>
    </div>

  </div>
  
  <%= link_to summits_path, :class => "back-link" do %>
    <div class="back-link area">
      <h1 class="text-center"><i class="fa fa-long-arrow-left"></i> Back to List</h1>
    </div>
  <% end %>
</div>